<h1>Hardware System Trigger</h1>
<form>
    Food Quantity in Grams: <input type="number" id="food_quantity">
    <br><br>
    Water Volume in ml: <input type="number" id="water_volume">
    <br><br>
    
    <input type="submit" id="dispese" value="Dispense" action="post" method"dispese_clicked">
</form>
