<h1>Hardware System Trigger</h1>
<br><br>
<%= form_for :history do |f| %>
    <text class="col-md-3 col-xs-6">Water Volume in ml:</text>
    <%= f.number_field :water_volume %>

    <br><br>
    <text class="col-md-3 col-xs-6">Food Weight in grams:</text>
    <%= f.number_field :food_weight %>
    
    <br><br>
    <%= f.submit "Dispense"%>
<% end %>