<h1>Hardware System Trigger</h1>
<form>
    <text class="col-md-4">Food Quantity in Grams:</text> <input type="number" id="food_quantity" class="col-md-3">
    <br>
    <text class="col-md-4">Water Volume in ml:</text><input type="number" id="water_volume" class="col-md-3">
    <br>
    
    <input type="submit" id="dispese" value="Dispense" action="post" method"dispese_clicked" class="col-md-4">
</form>
