<h1>History</h1>
<div class="col-md-4">
<container>
<table style="width:100%" >
<caption align="left">Pets Weight</caption>

	
</table>
</container>
<footer><p align="right">moreinfo >> </p></footer>
</div>

<div class="col-md-4">
<container>
<table style="width:100%" >
<caption align="left">Food</caption>

	
</table>
</container>
<footer><p align="right">moreinfo >> </p></footer>
</div>

<div class="col-md-4">
<container>
<table style="width:100%" >
<caption align="left">Water</caption>

	
</table>
</container>
<footer><p align="right">moreinfo >> </p></footer>
</div>