%h1 History
.col-md-4
  %container
    %table{:style => "width:100%"}
      %caption{:align => "left"}
        %text Pet's Weight
    %p{:align => "right"} moreinfo&gt;&gt;
.col-md-4
  %container
    %table{:style => "width:100%"}
      %caption{:align => "left"} Food
    %p{:align => "right"} moreinfo&gt;&gt;
.col-md-4
  %container
    %table{:style => "width:100%"}
      %caption{:align => "left"} Water
    %p{:align => "right"} moreinfo&gt;&gt;
