<h1>History</h1>
<div class="col-md-4">
<container>
<table style="width:100%" >
<caption align="left">Pets Weight</caption>

</table>
<p align="right">moreinfo>></p>
</container>
</div>

<div class="col-md-4">
<container>
<table style="width:100%" >
<caption align="left">Food</caption>

	
</table>
<p align="right">moreinfo>></p>
</container>
</div>

<div class="col-md-4">
<container>
<table style="width:100%" >
<caption align="left">Water</caption>

	
</table>
<p align="right">moreinfo>></p>
</container>
</div>