<h1>Home</h1>

<container>
        <div>
            <a href="/harwaretrigger"> Hardware System Trigger </a>
            <a href="/addpoint"> Add Data Point </a>
            <a href="/editpoint"> Edit Data Point </a>
            <a href="/history"> History </a> 
        </div>
</container>
