<h1>Home</h1>

<container>
    <div class="row" >
        <p>Hardware System Trigger</p><br>
        <p>Add Data Point</p><br>
        <p>Edit Data Point</p><br>
        <p>History</p><br>
    </div>
</container>
