<h1>Home</h1>

<container>
    <section class="col-sm-4">
        <div class="row">
            <p><%= link_to 'Hardware System Trigger', hardware_trigger %></p>
            <p>Add Data Point</p>
            <p>Edit Data Point</p>
            <p>History</p>
        </div>
    </section>
</container>
