%h1 Home
%container
  %div
    %p
      %a{:href => "/harwaretrigger"} Hardware System Trigger
    %p
      %a{:href => "/addpoint"} Add Data Point
    %p
      %a{:href => "/editpoint"} Edit Data Point
    %p
      %a{:href => "/history"} History
