<h1>Home</h1>

<container>
    <section class="row">
        <div class="w3-container w3-pale-green w3-bottombar w3-border-green w3-border col-sm-8">
            
        </div>
    </section>
</container>
