<h1>Home</h1>

<container>
    <section class="col-sm-4">
        <div class="row">
            <br> <a href="https://petnanny.herokuapp.com/harwaretrigger"> Hardware System Trigger </a>
            <p>Add Data Point</p>
            <p>Edit Data Point</p>
            <p>History</p>
        </div>
    </section>
</container>
