<h1>Home</h1>

<container class="w3-container w3-pale-green w3-bottombar w3-border-green w3-border col-sm-8">
    <section class="row">
        <div>
            
        </div>
    </section>
</container>
