<h1>Home</h1>

<container>
    <section class="col-sm-4">
        <div class="row">
            <p> <a href="/harwaretrigger"> Hardware System Trigger </a></p>
            <p> <a href="/addpoint"> Add Data Point </a> </p>
            <p>Edit Data Point</p>
            <p>History</p>
        </div>
    </section>
</container>
